version: '3.9'

services:
  server:
    depends_on:
      - postgres
    build:
      context: .
      dockerfile: docker/Dockerfile.server
    container_name: server-container
    ports:
      - "1804:1804"
    env_file:
      - env/.env.server
    healthcheck:
      test: ["CMD", "pgrep", "java"]
      interval: 5s
      retries: 3
    tty: true

  bot:
    depends_on:
      - postgres
      - server
    build:
      context: .
      dockerfile: docker/Dockerfile.bot
    container_name: bot-container
    ports:
      - "1805:1805"
    env_file:
      - env/.env.bot
    healthcheck:
      test: ["CMD", "pgrep", "java"]
      interval: 5s
      retries: 3
    tty: true

  postgres:
    image: postgres
    container_name: postgres-container
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./database/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres_admin -d live-pilot-db"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    env_file:
      - env/.env.postgres

  whisper-api:
    build:
      context: .
      dockerfile: docker/Dockerfile.whisper
    image: whisper-api:latest
    container_name: whisper-api
    depends_on:
      - postgres
    ports:
      - "8901:8901"
    environment:
      - WHISPER_MODEL=turbo
    volumes:
      - .:/app
    restart: unless-stopped

volumes:
  pgdata:
